body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.table td,th {
    text-align: left;
}

.jumbotron {
    background-image: url(../images/header.png);
    background-position: 100% 100%;
    background-size: cover;
    color: #ffffff;
}

.jumbotron .form-inline {
    position:relative;top:30px;
    margin:15px 5px !important;
}

.navbar-default {
    background-color:#ffffff !important;
    border-color: #1995dc;
}

.places h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mobile-apps {
    background-color: #D9534F;
    padding: 50px;
    margin-top:100px;
}

.mobile-apps h1 {
    color: #ffffff;margin-bottom: 50px;
}

section {

    margin-top: 100px;
}

.articles-list {
    background-color:#f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
}

.top-buffer {
    margin-top: 30px;
}

.blue {
    color: #337AB7;
}

.green {
    color: #5CB85C;
}

.orange {
    color: #F0AD4E;
}

.red {
    color: #D9534F;
}

.white {
    color: #FFFFFF;
}

.bolded {

    font-weight: bold;
}

.negative-rating {
    color: #bcbcbc;
}


/*team.php*/
#reservation div.ui-datepicker {
    font-size: 150%;
}

.unavaiable_date {
    text-decoration: line-through;
}


/*admin*/

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.reservationconfirmed a {

    background-color : #5CB85C !important;

}

.reservationnotconfirmed a {

    background-color : #D9534F !important;

}

.button__badge {
    background-color: #fa3e3e;
    border-radius: 6px;
    color: white;

    padding: 1px 6px;
    font-size: 12px;
    font-weight: bold;

    position: relative; /* Position the badge within the relatively positioned button */
    bottom: 10px;
    left: 5px;
}

.unread_notification {
    background-color: #dee3ff;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.my_objects {
    background-color: #d9d9d9;margin-right: 15px;padding: 3px;
}
